.custom-table{
  overflow: auto;
  overflow-x: hidden;
}

.custom-table-row{
  display: table-row;
  background-color: white;
}

.custom-table-header{
  background-color: #3db2eb;
  overflow: hidden;
}

.custom-table-body{
  overflow-y: auto;
  overflow-x: auto;
}

.custom-table-cell{
  display: table-cell;
  min-width: 100px;
  max-width: 100px;
  /*width: 100%;*/
  box-sizing: border-box;
  border: solid darkgray 1px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}


.sticky-left-column{
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: inherit;
  vertical-align: middle;
}
