.custom-table{
  overflow: auto;
  overflow-x: hidden;
}

.custom-table-row{
  display: table-row;
  background-color: white;
}

.custom-table-header{
  background-color: #3db2eb;
  overflow: hidden;
}

.custom-table-body{
  overflow-y: auto;
  overflow-x: auto;
}

.custom-table-cell{
  display: table-cell;
  min-width: 100px;
  box-sizing: border-box;
  border: solid darkgray 1px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.sticky-left-column{
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: inherit;
  vertical-align: middle;
}

.resizer{
  top: 0;
  right: 0;
  bottom: 0;
  height: inherit;
  width: 6px;
  position: absolute;
  cursor: col-resize;
  float: left;
  /*background-color: #527b38;*/
}

div.columnDragging {
  border-right: 2px solid grey;
  height: 10000px;
}
